@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card-glow {
  position: relative;
  padding: 3px;
  border-radius: 0.75rem;
  background: #191c29;
}

.card-glow::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 0.875rem;
  background-image: linear-gradient(
    var(--rotate), 
    #5ddcff, 
    #3c67e3 43%, 
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
  opacity: 0;
  transition: opacity 0.5s;
}

.card-glow::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(1rem);
  background-image: linear-gradient(
    var(--rotate), 
    #5ddcff, 
    #3c67e3 43%, 
    #4e00c2
  );
  opacity: 0;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.card-glow:hover::before,
.card-glow:hover::after {
  opacity: 1;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}